@(form: Form[(String, String)],msg: Option[String] = None)

<!DOCTYPE html>

<html>
    <head>
        <title>Accounts</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/cssnormalize-min.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/pure-min.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.css")">


        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">


    </head>
    <body class="pure-g yui3-normalized">
            <div id="headerMenu" class="pure-menu pure-menu-open pure-menu-horizontal pure-menu-fixed">
                <a href="#" class="pure-u pure-menu-heading">Online-broker</a>
                <ul>
                    <li class="pure-u"><a href="#/accounts/" alt="Show my accounts">My Accounts</a></li>
                    <li class="pure-u"><a href="#/currencies/" alt="Show all currencies">Currencies</a></li>
                </ul>
            </div>

            <div id="main" class="pure-u-1 content">
                <h2 class="content-subhead">Unauthorized Access</h2>
                <div class="alert alert-danger">You're not logged in</div>
                <p>
                    Use your account in github to log in.
                    <a href="/authenticate/github"> <img src="@routes.Assets.at("securesocial/images/providers/github.png")"> </a></div>
                </p>



    </body>
</html>


