@(userId: Long)

<!DOCTYPE html>

<html>
    <head>
        <title>Accounts</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.14.0/build/cssnormalize/cssnormalize-min.css">
        <link rel="stylesheet" media="screen" href="http://yui.yahooapis.com/pure/0.3.0/pure-min.css">


        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script src="@routes.Assets.at("javascripts/jquery.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/handlebars-v1.1.2.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/sammy.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/sammy.handlebars.js")" type="text/javascript"></script>
        <script>
            var userId = "@userId";
        </script>
        <script src="@routes.Assets.at("javascripts/main.js")" type="text/javascript"></script>
    </head>
    <body class="pure-g yui3-normalized">
            <div id="headerMenu" class="pure-menu pure-menu-open pure-menu-horizontal pure-menu-fixed">
                <a href="#" class="pure-u pure-menu-heading">Online-broker</a>
                <ul>
                    <li class="pure-u"><a href="examples/magazine/" alt="Example">Currencies</a></li>
                    <li class="pure-u"><a href="docs.html" alt="Documentation">Manual</a></li>
                </ul>
            </div>
            <div class="header pure-u-1">
                <h1 class="pure-u-1">Your Accounts</h1>
            </div>

            <div id="main" class="pure-u-1 content"></div>

    </body>
</html>
